form {
  p.error_notification {
    margin: 0;
  }

  .control-line {
    &::after {
      clear: both;
    }

    &::before, &::after {
      display: table;
      content: "";
    }
  }

  hr {
    display: block;
    margin: 10px 0;
  }

  .control-group-inline {
  	float: left;
  	margin-right: 30px;

  	label {
      margin-right: 5px;
  	}
  }
}

form.form-embeded {
  margin: 0;

  input {
    margin: 0;
  }
}

form#cash_flow_search {

  #q_company_id_eq, #q_cashflow_subject_id_eq {
    width: 160px;
  }

  #q_corresponding_subject_id_eq {
    width: 160px;
  }

  .date-input {
    width: 120px;
  }
}